body{
    background-color:#FCFDFD;
}
.nav{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 40px;
}
.list{
   display: flex;
   flex-direction: row;
   list-style-type: none;
}
.list li{
   margin-left:30px ;
}
a{
   text-decoration: none;
   color: #4043BC;
}
.photo{
   margin-left: 750px;
   width: 300px;
}
.head{
   display: flex;
   flex-direction: column;
   margin-left: 120px;
   justify-content: center;
   font-size: 25px;
   margin-top: -400px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #2A4A80;
}
.p{
    font-size: 13px;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
    
    
    
.list li a:hover{

   color: #FF5B96 ;
}
.btnn{
   background-color: #FF5B96;
   width: 156px ;
   height: 47px;
   border-radius: 6px;
   border: none;
   color:#FCFDFD;
   margin-top: 40px;
}
.btn{
   background-color: #4043BC;
   width: 120px ;
   height: 30px;
   border-radius: 6px;
   border: none;
   color:#FCFDFD;
   margin-right: 100px;
   
}